DB_HOST=127.0.0.1
DB_NAME=php_mvc_admin_starter_test
DB_USER=root
DB_PASS=
DB_CHARSET=utf8
APP_URL=http://localhost/test
TIMEZONE=UTC
SESSION_LIFETIME=3600
REMEMBER_ME_LIFETIME=604800
REMEMBER_ME_COOKIE_NAME=remember_me
