# Configuración de la Base de Datos
DB_HOST=localhost
DB_NAME=auth_base
DB_USER=tu_usuario
DB_PASS=tu_contraseña
DB_CHARSET=utf8mb4

# Configuración de la Aplicación
APP_URL=http://localhost/php-mvc-admin-starter/public
TIMEZONE=tu_zona_horaria
DEBUG=true
APP_VERSION=3.1.0

# Configuración de Correo (SMTP)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USER=tu_usuario_smtp
MAIL_PASS=tu_contraseña_smtp
MAIL_FROM=noreply@example.com
MAIL_FROM_NAME="Base System"