# Cache and temporary files
*.log
*.tmp

# System files
/vendor/
.DS_Store
Thumbs.db
bash.exe.stackdump
.env
/public/uploads/users/*
!/public/uploads/users/user_default.jpg

# IDEs and editors
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.code-workspace

# Database backups
*.sql
!database/schema.sql
!database/seeder.sql
